@for (node of fileTreeService.visibleNodes(); track node.entry.path) {
  <div
    class="tree-node"
    [class.unencoded]="!node.entry.isEncoded"
    [class.encoded]="node.entry.isEncoded"
    [class.directory]="node.entry.isDirectory"
    [style.padding-left]="getIndent(node)"
    (click)="onNodeClick(node)"
    (contextmenu)="onContextMenu($event, node)"
  >
    <span class="arrow">{{ getArrow(node) }}</span>
    <span class="icon">{{ getIcon(node) }}</span>
    <span class="name">{{ node.entry.name }}</span>
    @if (node.entry.isEncoded) {
      <span class="physical-name">{{ node.entry.physicalName }}</span>
    }
  </div>
}
